

#blog .contenedor img{
    width: 400px;
    height: 280px;
    border: solid 4px rgb(68, 81, 199);
    border-radius: 8px;
   
}

#blog {
    font-family: calibri;
    text-align: center;
    margin-top: 5px;
    background: white;
    
    
}

#blog .contenedor {
    display: flex;  /* definicion de cajas del tipo flexbox */
    justify-content: center; /* justificacion al centro */
    flex-wrap: wrap; /* define el uso de multi-linea si no tiene cupo*/
    color:black
}

#blog .contenedor article{
    margin: 30px;
}