@import url(menu.css);
@import url(formulario.css);





.container-fluid h1{

    font-family: calibri;
    text-align: center;
    padding: 20px;
    
}

#success_message{ display: none;}


.img-fluid{

width: 100%;

padding: 50px;

}

